<div class="row">
  <div class="col-md-8 offset-md-1 my-3">
      <h2 class = "bg-light w-50"><%= @review.user.name %></h2>

        <% if @comment.errors.any? %>
          <%= @comment.errors.count %>件のエラーが発生しました
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <table class="row table">
          <tr>
            <th>氏名</th>
            <td><%= @review.user.name %></td>
          </tr>

          <tr>
            <th>画像</th>
            <td><%= image_tag @review.image, size: "100x100" %></td>
          </tr>

          <tr>
            <th>価格</th>
            <td>約<%= @review.price %>円</td>
          </tr>

          <tr>
            <th>レビュー</th>
            <td><%= @review.explanation  %></td>
          </tr>
        </table>

        <div class="row mb-5">
          <% if @review.user == current_user #レビューをしたユーザーが現在のユーザーと同じ場合 %>
          <td><%= link_to "編集する", edit_review_path(@review.id), class: "btn btn-success" %></td>
          <td><%= link_to '投稿を削除する', @review, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger"%></td>
          <% end %>
        </div>

        <div>
          <p>コメント件数：<%= @review.comments.count %></p>
          <% @review.comments.each do |comment| %>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_content %>
            <% if comment.user == current_user #コメントをしたユーザーが現在のユーザーと同じ場合 %>
              <%= link_to "コメントを削除する", review_comment_path(@review, comment), method: :delete %>
            <% end %>
          <% end %>
        </div>

        <div>
          <%= form_with model: [@review, @comment] do |f| %>
            <%= f.text_area :comment_content, rows: '5', placeholder: "コメントをここに入力して下さい" %>
            <%= f.submit "コメントを送信する" %>
          <% end %>
        </div>

  </div>
</div>