<div class="row">
    <div class="m-5 col-xs-12">
      <h3><strong>登録情報編集</strong></h3>
      <%= form_with(model:@user, url:update_user_path ,method: :PATCH) do |f| %>

        <div>
            <div class="col-xs-12">
              <%= f.label :"氏名", class: "col-sm-3 control-label", style: "margin: 10px;" %>
              <%= f.text_field :name, class: "name col-sm-3 form-control-static name", style: "margin: 10px;" %>
            </div>
 
            <div class="col-xs-12">
              <%= f.label :"メールアドレス", class: "col-sm-3 control-label", style: "margin: 10px;" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static", style: "margin: 10px;" %>
            </div>

            <div class="col-xs-12">
              <%= f.label :"自己紹介文", class: "col-sm-3 control-label", style: "margin: 10px;" %>
              <%= f.text_field :introduction, class: "form-control", rows: "8", style: "margin: 10px;" %>
            </div>
        </div>

        <div class="actions col-xs-10 col-xs-offset-2">
        <p>
          <%= f.submit "編集を保存", class: "btn btn-primary col-sm-3", style: "margin: 10px;" %>
          <%= link_to " 退会",  unsubscribe_user_path(current_user.id), class: "glyphicon glyphicon-tint btn btn-danger col-sm-3", style: "margin: 10px;" %>
        </p>
        </div>
      <% end %>
    </div>
</div>
